/*Default CSS Rules*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    font-size: 16px;
    z-index: 1;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea:focus, input:focus {
    outline: none;
}

/*Webpage specific styling*/
body {
    background-image: url(../images/art-institute-of-chicago-ygxDHwEn5X0-unsplash.jpg);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-size: 100svw 100svh;
}

.container {
    width: 100svw;
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

.sidebar {
    height: 100svh;
    grid-area: sidebar;
}

.header {
    height: 20svh;
    grid-area: header;
}

.main {
    height: 80svh;
    grid-area: main;
}