/*Default CSS Rules*/
:root {
    --purple: #a855f7;
    --grey: #e4e4e7;
    --white: #f7f7f7;
    --default-font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    --default-font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-family: var(--default-font-family);
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    z-index: 1;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea:focus, input:focus {
    outline: none;
}

/*Webpage specific styling*/
.container {
    width: 100svw;
    height: 100svh;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

.sidebar {
    height: 100svh;
    grid-area: sidebar;
    background-color: var(--purple);
    display: grid;
    grid-template-rows: 150px minmax(250px, 325px) 1fr;
    z-index: 1111;
    box-shadow: black 5px 0px 10px -6px;
    padding-right: 20px;
}

.logo,
.nav,
.options {
    margin: 0 1.25svw;
}

.primary-nav,
.secondary-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: calc(var(--default-font-size)*0.55);
}

li img {
    height: 3.75svh;
    width: 3.75svw;
    min-height: 25px;
    min-width: 25px;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-size: calc(var(--default-font-size)*0.55);
    margin: 15px 5px;
}

.logo img {
    height: calc(var(--default-font-size)*2);
    width: calc(var(--default-font-size)*2);
}

.header {
    grid-area: header;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 35%;
    z-index: 1111;
    box-shadow: black 0px 5px 10px -6px;
}

.searchbar,
.account-icons,
.account-display,
.header-option-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.account-icons {
    justify-content: center;
}

.searchbar {
    margin: 2vh 0 0 2vw;
}

.searchbar img {
    height: calc(var(--default-font-size)*1.5);
    width: calc(var(--default-font-size)*1.5);
}

.searchbar input {
    background-color: var(--grey);
    border-radius: 15px;
    height: calc(var(--default-font-size)*1.3);
    width: 100%;
    font-family: var(--default-font-family);
    padding: 0px 10px;
}

.account-icons {
    margin: 2vh 2vw 0 0;
    font-size: calc(var(--default-font-size)*.45);
    justify-content: flex-end;
    gap: 6%;
    padding-right: 5%;
}

.account-icons img {
    height: calc(var(--default-font-size)*1.2);
    width: calc(var(--default-font-size)*1.2);
}

.account-display {
    margin: 1.5svh 0 1svh 2svw;
}

.account-display img {
    height: calc(var(--default-font-size)*2);
    width: calc(var(--default-font-size)*2);
}

.account-display h3{
    font-size: calc(var(--default-font-size)*.50);
    text-transform: none;
}

.account-display h2 {
    font-size: calc(var(--default-font-size)*.75);
    text-transform: none;
}

.header-option-buttons {
    margin: 1.5svh 2svw 1svh 0;
    display: flex;
    justify-content: flex-end;
    gap: 6%;
}

.header-option-buttons button {
    font-family: var(--default-font-family);
    font-size: calc(var(--default-font-size)*.55);
    text-transform: capitalize;
    height: calc(var(--default-font-size)*1.6);
    width: calc(var(--default-font-size)*4.5);
    background-color: var(--purple);
    color: var(--white);
    border-radius: 25px;
}

.main {
    grid-area: main;
    background-color: var(--grey);
}